.Signin {
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.forms {
    background-color: #fff;
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
  }
  
  .input-container {
    position: relative;
  }
  
  .input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
  }
  
  .input-container input {
    color: #545454;
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 1rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .input-container span {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    place-content: center;
  }
  
  .input-container span svg {
    color: #9CA3AF;
    width: 1rem;
    height: 1rem;
  }
  
  .submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
    transition: 150ms ease-in-out;
  }
  .submit:hover {
    background-color: #4e46e5cb;
  }
  .signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
  }
  
  .signup-link a {
    text-decoration: underline;
  }
/* .Signin{
    border: 1px solid red;
}
.Signin form{
    padding: 10px; 
    border: 1px solid #808080;
    border-radius: 5px;
    
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}
.Signin label{ 
    color: #2c2c2c;
}
.Signin input{ 
  
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid #808080;
    font-size: 1rem;
    padding-right: 0px;
    color: black;
 
    background: transparent;
    
   
    outline: none;
}
.Signin .button {
    cursor: pointer;
    
     border-radius: 5px;
    border: none;
    height: 35px;
    width: 150px;
    background-color: rgb(203, 181, 247);
    color: black;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
     
  transition: 150ms cubic-bezier(0.4,0,0.2,1);  
} */